
body {
    font-family:Roboto;
}

a {
    text-decoration:none;
}

#loading {
    margin-top:-5px;
}

.content {
    padding:16px;
    overflow:scroll;
    overflow-x:hidden;
    height:100%;
}

.section-button {
    text-transform:none;
    text-align:left;
}

.section-button span {
    padding-left:16px;
}

.sketch {
    overflow:hidden;
    width:900px;
    height:500px;
    border:4px solid black !important;
}

.sketch-short {
    overflow:hidden;
    width:900px;
    height:300px;
    border:4px solid black !important;
}

.toolbar {
    height:48px;
    min-height:0;
}

.small {
    height:32px;
    min-height:0;
}

.code {
    font-family:Courier;
    font-size:24px;
    width:900px;
    height:64px;
}

.highlight {
    background-color:yellow;
}

.heading {
    text-decoration:underline;
}

.col-2 {
    width:420px;
    margin:16px !important;
    float:left;
}